body {
    background-color: #FCFAF2;
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    color: #333;
}

header {
    box-sizing: border-box;
    background-color: #2B3648;
    width: 100vw;
    color: #FFF;
    padding: 15px;
    font-size: 1.3em;
}

h2 {
    font-size: 1.0em;
    display: inline-block;
    margin: 15px 5px 0px 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #edb819;
    text-transform: uppercase;
}

.counter {
    font-size: 0.9em;
    color: #edb819;
}

#infos {
    margin: 15px 15px 15px 15px;
	display: flex;
}

#infos * {
	border: 1px solid #ecebe8;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

#infos *:first-child {
	margin-left: 0;
	background-color: #edb819;
	color: #FCFAF2;
}

#infos *:first-child:active {
    color: #333;
}

.player {
	color: #666;
    background-color: #FFF;
}

.player.active {
    color:#edb819;
}

.start, .gosolve {
    background-color: #2B3648;
    display: block;
	color: #FCFAF2;
}

#timeline_container {
    background-color: #FFFFFF;
    border-top: 1px solid #ecebe8;
    border-bottom: 1px solid #ecebe8;
}

#timeline {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;
    height: 240px;
    /* justify-content: center; */
    margin-bottom: 20px;
}

.card {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    background-color: #ecebe8;
	font-size: 0.8em;
    width: 200px;
    height: 200px;
    margin: 20px 10px;
    padding: 10px;
    line-height: 1.3;
    box-shadow: 3px 3px 4px #ddd;
    cursor: grab;
    border-radius: 5px;
    -webkit-user-select: none;
    /* Safari */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* IE10+/Edge */
    user-select: none;
    /* Standard */
}

.sortable-ghost {
    background-color: #f5e8ce;
    cursor: grabbing;
}

.sortable-drag {
    opacity: 0.8;
}

.fixed {}

.card:first-child {
    margin-left: 15px;
}

.card:last-child {
    margin-right: 15px;
}

.card time {
    display: none;
}

.card.solve time {
    display: block;
    position: absolute;
    bottom: 10px;
    font-size: 2em;
    color: #edb819;
    margin-top: 10px;
}

#cardStack {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;
}

#cardStack time {
    display: none;
}

