body {
    background-color: #FCFAF2;
    font-family: 'Merriweather', serif;
    font-size: 1.3em;
    color: #333;
}

header {
    box-sizing: border-box;
    background-color: #2B3648;
    width: 100vw;
    color: #FFF;
    padding: 15px;
    font-size: 1.3em;
}

h2 {
    font-size: 1.0em;
    display: inline-block;
    margin: 15px 5px 0px 15px;
    padding-bottom: 5px;
    border-bottom: 2px solid #edb819;
    text-transform: uppercase;
}

.counter {
    font-size: 0.9em;
    color: #edb819;
}

#infos {
    margin: 30px 15px 15px 15px;
}

.player {
    background-color: #FFF;
    border: 1px solid #ecebe8;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    font-size: 0.8em;
}

.start {
    background-color: #2B3648 !important;
    border: 1px solid #ecebe8;
    padding: 10px;
    margin: 0 15px 30px 15px;
    border-radius: 5px;
    font-size: 0.8em;
	display: block;
}

.button {
    background-color: #edb819;
    color: #FCFAF2;
}

.button:active {
  background-color: #edb819;
  color: #333;
}

.player:first-child {
    margin-left: 0;
}

#timeline_container {
    background-color: #FFFFFF;
    border-top: 1px solid #ecebe8;
    border-bottom: 1px solid #ecebe8;
}

#timeline {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  width: 100vw;
  height: 290px;
  /* justify-content: center; */
  margin-bottom: 20px;
}

.card {
    position: relative;
    box-sizing: border-box;
    flex: 0 0 auto;
    background-color: #ecebe8;
    width: 250px;
    height: 250px;
    margin: 20px 10px;
    padding: 20px;
    line-height: 1.4;
    box-shadow: 3px 3px 4px #ddd;
    cursor: grab;
    border-radius: 5px;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

.sortable-ghost {
    background-color: #f5e8ce;
    cursor: grabbing;
}

.sortable-drag {
    opacity: 0.8;
}

.fixed {

}

.card:first-child {
    margin-left: 15px;
}
.card:last-child {
    margin-right: 15px;
}

.card time {
    display: block;
    position: absolute;
    bottom: 15px;
    font-size: 2em;
    color: #edb819;
    margin-top: 10px;
}

#cardStack {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    width: 100vw;
}

#cardStack time {
    display: none;
}
